doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCnsQuvQSsdzWVAy9U7ZE_0EDo8NxatrUw')
  body
    block content
    script(src='/javascript/app.min.js')
